body{
    margin: 0;
}
#wiekszy{
    width: 100%;
    height: 80vh;
    overflow: auto;

}

#svg{
    width: 100%;
    height: 80vh;
}

#interface{
    width: 99%;
    height: 20vh - 3px;
    border-top: 3px solid #222;
}

